{
  "plugins": ["@trivago/prettier-plugin-sort-imports"],
  "importOrder": [
    "^react(.*)",
    "<THIRD_PARTY_MODULES>",
    "^@tanstack/(.*)$",
    "^@/(.*)$",
    "^@/components/(.*)$",
    "^@/assets/(.*)$",
    "^@/hooks/(.*)$",
    "^@/stores/(.*)$",
    "^@/utils/(.*)$",
    "^@/types/(.*)$",
    "^@/styles/(.*)$",
    "^@/mocks/(.*)$",
    "^@/constants/(.*)$",
    "^@/lib/(.*)$",
    "^@/providers/(.*)$",
    "^@/tests/(.*)$",
    "^[./]"
  ],
  "importOrderSeparation": true,
  "importOrderSortSpecifiers": true,
  "singleAttributePerLine": true
}
